xsd-1/order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2019 rel. 3 (x64) (http://www.altova.com) by Mr Me (YT) -->
<!-- W3C Schema generated by XMLSpy v2019 rel. 3 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Inhoud">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="type"/>
				<xs:element ref="aantal"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Omschrijving">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Spoed order"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Order">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Omschrijving"/>
				<xs:element ref="Inhoud"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ID42"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="aantal">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="25"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="type">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="EUR-pallet"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
